{% extends "app/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block styles %} {% endblock styles %}


{% block content %}

<div class="container-fluid ids">
		<div class="ids-form">
				<form method="post" name="form-signup" class="sign" action="">
						{% csrf_token %}
						<div class="row">
								<div class="col-md-12 wrapper">


										<div class="form-group">
												{% if form.errors %}
														{% for field in form %}
																{% for error in field.errors %}
																		<div class="alert alert-danger">
																				<strong>{{ error|escape }}</strong>
																		</div>
																{% endfor %}
														{% endfor %}
														{% for error in form.non_field_errors %}
																<div class="alert alert-danger">
																		<strong>{{ error|escape }}</strong>
																</div>
														{% endfor %}
												{% endif %}
										</div>

										{% for field in form %}
												<div class="form-group">
														{# <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>#}
														{{ field }}
												</div>
										{% endfor %}

										<div class="form-group">
												<input type="submit" class="btn btn-block" value="Log in">
										</div>

										<div class="form-group">
												<div class="ids-link">
														<a class="" href='/signup'>I do not have an account</a>
												</div>
										</div>
								</div>
						</div>
				</form>
		</div>
</div>

{% endblock content %}


{% block scripts %}
<script type="text/javascript">

$(document).ready(function() {

	// $('#pressure_input').blur(function() {
  //    if(!$.trim(this.value).length) { // zero-length string AFTER a trim
  //   		alert('.pressure_input');
  //    }
});



	// $("input").prop('disabled', true);
	// $("input").prop('disabled', false);

});


</script>


{% endblock scripts %}
