{% extends "templates/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="ids-form">
            <form method="post" name="form-signup" class="sign">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 wrapper">
                        <div class="ids-header logo">Forrgit</div>
                        <div class="ids-subheader">Create new ID</div>
                        
                         <div class="form-group">
                            <a href='#' class='g-plus btn btn-block'>
                                 <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                             </a>
                        </div>
                        
                        <div class="form-group">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <b>{{ error|escape }}</b>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% for field in form %}
                            <div class="form-group">
                                {# <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>#}
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-block jeans" value="Create new ID">
                        </div>
                        <div class="form-group">
                            <div class="ids-link">
                                <a class="" href='/login'>I do not have an account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% block scripts %}{% endblock scripts %}

{% endblock body%}